---

name: build nodejs application
on: 
 workflow_dispatch:
 push: 
  branches:
   - master
   
 pull_request:
   branches:
    - master

jobs:
 job1:
  runs-on: ubuntu-latest
  
  steps:
  - name: clone the repo
    uses: actions/checkout@v6
  
  - name: install nodejs
    uses: actions/setup-node@v6
    with:
      node-version: 18
      cache: 'npm'
     
  - name: install dependencies
     run: npm ci
     
  - name: execute test cases
     run: npm test
   
  - name: build the code
     run: npm run build
